<div class="marginTop"></div>
<div class="marginTop"></div>
<div class="marginTop"></div>
<div class="marginTop"></div>

<%= link_to "[Delete card]", @memory, method: :delete, data: {confirm: "Are you sure?"} %>