<div class="container">
	<div class="marginTopMax"></div>
	<div class="row center">
		<div class="col-md-12">
			<h2>Choose a theme</h2>
		</div>
		<div class="col-md-12">
			<p><%= link_to("Character Theme", memory_cards_character_path) %></p>
		</div>
		<div class="col-md-12">
			<p><%= link_to("Letter Theme", "") %></p>
		</div>
		<div class="col-md-12">
			<p><%= link_to("Number Theme", "") %></p>
		</div>
		<div class="col-md-12">
			<p><%= link_to("Object Theme", "") %></p>
		</div>

	</div>
	<div class="marginTopMax"></div>
</div>

	
