<div class="container">
	<div class="marginTopMax"></div>
	<div class="row">
		<div class="col-md-6 coloring_print_div">
			<%= image_tag(@coloring.coloring, class: "coloring_print") %>
		</div>
		<button class="btn btn-default print_button no_print">Print Coloring</button>
	</div>
	<div class="marginTopMax"></div>
</div>