<div class="container">

</div>

<div class="container center">
	<div class="marginTopMax"></div>
	<div class="row anchor_difference anchor">
		<div class="col-md-6">
			<p><%= image_tag(theme, class: "difference_game_pic") %></p>
		</div>
		<div class="col-md-6">
			<p><%= image_tag(theme2, class: "difference_game_pic") %></p>
		</div>
	</div>
