	<%= render("seven_differences/differences_game", theme: "DifferenceGameIsabellaBeach1.jpg", theme2: "DifferenceGameIsabellaBeach2.jpg") %>

	<div class="difference_game_container anchor">
		<div class="changes changes_beach1" id="changes_beach1"></div>
		<div class="changes changes_beach2" id="changes_beach2"></div>
		<div class="changes changes_beach3" id="changes_beach3"></div>
		<div class="changes changes_beach4" id="changes_beach4"></div>
		<div class="changes changes_beach5" id="changes_beach5"></div>
		<div class="changes changes_beach6" id="changes_beach6"></div>
		<div class="changes changes_beach7" id="changes_beach7"></div>

		<div class="changes changes_beach8" id="changes_beach1"></div>
		<div class="changes changes_beach9" id="changes_beach2"></div>
		<div class="changes changes_beach10" id="changes_beach3"></div>
		<div class="changes changes_beach11" id="changes_beach4"></div>
		<div class="changes changes_beach12" id="changes_beach5"></div>
		<div class="changes changes_beach13" id="changes_beach6"></div>
		<div class="changes changes_beach14" id="changes_beach7"></div>
	</div>
	<%= render("shared/bravo_win") %>
</div>