<div class="container center">
	<div class="marginTopMax"></div>
	<div class="row">
		<div class="col-md-12">
			<h2>Choose a theme</h2>
		</div>
		<div class="col-md-12">
			<p><%= link_to("Beach Theme", seven_differences_beach_path) %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><%= link_to("Paris Theme", seven_differences_paris_path) %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><%= link_to("Sea Theme", seven_differences_sea_path) %></p>
		</div>
	</div>
	<div class="marginTopMax"></div>
</div>