	<%= render("seven_differences/differences_game", theme: "DifferenceGameHaileyAParis1.jpg", theme2: "DifferenceGameHaileyAParis2.jpg") %>
	<div class="difference_game_container anchor">
		<div class="changes changes_paris1" id="changes_paris1"></div>
		<div class="changes changes_paris2" id="changes_paris2"></div>
		<div class="changes changes_paris3" id="changes_paris3"></div>
		<div class="changes changes_paris4" id="changes_paris4"></div>
		<div class="changes changes_paris5" id="changes_paris5"></div>
		<div class="changes changes_paris6" id="changes_paris6"></div>
		<div class="changes changes_paris7" id="changes_paris7"></div>

		<div class="changes changes_paris8" id="changes_paris1"></div>
		<div class="changes changes_paris9" id="changes_paris2"></div>
		<div class="changes changes_paris10" id="changes_paris3"></div>
		<div class="changes changes_paris11" id="changes_paris4"></div>
		<div class="changes changes_paris12" id="changes_paris5"></div>
		<div class="changes changes_paris13" id="changes_paris6"></div>
		<div class="changes changes_paris14" id="changes_paris7"></div>
	</div>
	<%= render("shared/bravo_win") %>
</div>