	<%= render("seven_differences/differences_game", theme: "DifferenceGameMermaid1.jpg", theme2: "DifferenceGameMermaid2.jpg") %>
	<div class="difference_game_container anchor">
		<div class="changes changes_sea1" id="changes_sea1"></div>
		<div class="changes changes_sea2" id="changes_sea2"></div>
		<div class="changes changes_sea3" id="changes_sea3"></div>
		<div class="changes changes_sea4" id="changes_sea4"></div>
		<div class="changes changes_sea5" id="changes_sea5"></div>
		<div class="changes changes_sea6" id="changes_sea6"></div>
		<div class="changes changes_sea7" id="changes_sea7"></div>

		<div class="changes changes_sea8" id="changes_sea1"></div>
		<div class="changes changes_sea9" id="changes_sea2"></div>
		<div class="changes changes_sea10" id="changes_sea3"></div>
		<div class="changes changes_sea11" id="changes_sea4"></div>
		<div class="changes changes_sea12" id="changes_sea5"></div>
		<div class="changes changes_sea13" id="changes_sea6"></div>
		<div class="changes changes_sea14" id="changes_sea7"></div>
	</div>
	<%= render("shared/bravo_win") %>
</div>