<div class="container">
	<div class="marginTopMax"></div>
	<div class="row">
		<div class="col-md-4">
			<%= link_to(image_tag("HaileyBookCover.jpg", class: "book_cover_index"), books_hailey_book_path) %>
		</div>

		<div class="col-md-4">
			<%= link_to(image_tag("IsabellaBookCover.jpg", class: "book_cover_index"), books_isabella_book_path) %>
		</div>

		<div class="col-md-4">
			<%= link_to(image_tag("RobotBookCover.jpg", class: "book_cover_index"), books_robot_book_path) %>
		</div>
	</div>
	<div class="marginTopMax"></div>
</div>